stylus.alexandru-croitoriu.dev {
    reverse_proxy localhost:9010
}
cv.alexandru-croitoriu.dev {
    reverse_proxy localhost:9020
}

jenkins.alexandru-croitoriu.dev {
    reverse_proxy localhost:8080
}
portainer.alexandru-croitoriu.dev {
    reverse_proxy localhost:9000
}
