alexandru-croitoriu.dev {
    file_server
}
portainer.alexandru-croitoriu.dev {
    reverse_proxy portainer:9000
}

jenkins.alexandru-croitoriu.dev {
    reverse_proxy jenkins:8080
}

starter.alexandru-croitoriu.dev {
    reverse_proxy wt_starter:9010
}

stylus.alexandru-croitoriu.dev {
    reverse_proxy wt_starter:9020
}


cv.alexandru-croitoriu.dev {
    reverse_proxy wt_starter:9030
}